* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #15795B;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}

label{
  color: white;
  padding-right: 20px;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    height: 70px;
    background: #88D498;
    filter: drop-shadow(1px 1px 8px #0C4534);
    z-index: 2;
}
header img {
    height: 50px;
    filter: invert(1) drop-shadow(2px 2px 8px #0C4534);;
}

.album-container{
  width: 20%;
  background: #88D498;
  text-align: center;
  margin: 10px;
  filter: drop-shadow(1px 1px 8px #0C4534);
}

.album-container:hover{
  cursor: pointer;
}



.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 150px 0;
}



.cd {
  position: relative;
  height: 360px;
  background: #88D498;
  text-align: center;
  border-radius: 2px;
}

.cd img {
  width: 100%;
  max-height: 240px;
}

.cd .info {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);

  width:90%;
}

.cd h3 {
    margin: 0 0 10px 0;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

.cd h4.author {

    color: #1A936F;
    font-size: 16px;
    padding-bottom: 10px;
}

.cd h4.year {

    color: #1A936F;
}


.active{
  display: block;
}

.hidden{
  display: none;
}

select{
  font-size: 16px;
  width:200px;
  height:20px;
  border:none;
  color: #1A936F;
  background-color: #88D498;
  border-bottom: 1px solid #1A936F;
}
